@model CarRenting.Models.ViewModels.ViewAllBookingsVm

@{
    ViewData["Title"] = "AllBookings";
}

<h2>Alla bokningar</h2>
@if (Model.BookingStatus == 1)
{
    <a class="btn btn-primary" asp-action="BookingsDependingOnStatus" asp-route-status="1">Pågående bokningar</a>
    <a class="btn btn-primary" asp-action="BookingsDependingOnStatus" asp-route-status="2">Slutförda bokningar</a>
    <a class="btn btn-primary" asp-action="AllBookings" >Alla bokningar</a>
}
else if (Model.BookingStatus == 2)
{
    <a class="btn btn-primary" asp-action="BookingsDependingOnStatus" asp-route-status="1">Pågående bokningar</a>
    <a class="btn btn-primary" asp-action="BookingsDependingOnStatus" asp-route-status="2">Slutförda bokningar</a>
    <a class="btn btn-primary" asp-action="AllBookings">Alla bokningar</a>
}
else
{
    <a class="btn btn-primary" asp-action="BookingsDependingOnStatus" asp-route-status="1">Pågående bokningar</a>
    <a class="btn btn-primary" asp-action="BookingsDependingOnStatus" asp-route-status="2">Slutförda bokningar</a>
    <a class="btn btn-primary" asp-action="AllBookings" >Alla bokningar</a>
}

<div>
    <h4>Bokningar</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                @if (Model.BookingStatus == 1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Booking.BookingId)
                    </th>
                    <th>
                        <a asp-action="AllBookingsSortForUnavailible" asp-route-sortChoice="1">Bokningstid</a>
                    </th>
                    <th>
                        <a asp-action="AllBookingsSortForUnavailible" asp-route-sortChoice="2">Bilmodell</a>
                    </th>
                    <th>
                        <a asp-action="AllBookingsSortForUnavailible" asp-route-sortChoice="3"> Personnummer</a>
                    </th>
                }
                else if (Model.BookingStatus == 2)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Booking.BookingId)
                    </th>
                    <th>
                        <a asp-action="AllBookingsSortForAvailible" asp-route-sortChoice="1">Bokningstid</a>
                    </th>
                    <th>
                        <a asp-action="AllBookingsSortForAvailible" asp-route-sortChoice="2">Bilmodell</a>
                    </th>
                    <th>
                        <a asp-action="AllBookingsSortForAvailible" asp-route-sortChoice="3"> Personnummer</a>
                    </th>
                }
                else
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Booking.BookingId)
                    </th>
                    <th>
                        <a asp-action="AllBookingsSort" asp-route-sortChoice="1">Bokningstid</a>
                    </th>
                    <th>
                        <a asp-action="AllBookingsSort" asp-route-sortChoice="2">Bilmodell</a>
                    </th>
                    <th>
                        <a asp-action="AllBookingsSort" asp-route-sortChoice="3"> Personnummer</a>
                    </th>
                }


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.CarModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.PersonNumber)
                    </td>
                    <td>
                        @if (item.Car.Available == true)
                        {
                            @Html.DisplayFor(modelItem => item.Price)
                        }
                        else
                        {
                            <a class="btn btn-danger" asp-action="EndBooking" asp-route-id="@item.BookingId">Avsluta bokning</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
